h1.site-title {
   color:#7d7d7d!important;
   font-weight:100!important;
   font-size:5rem!important;
}

.header {
    z-index: 0;
}

.header-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-nav {
    font-size: 1.4rem;
}
.site-brand-container{
    max-width: 100%;
}

.post-gallery {
    max-width: 50%;
    text-align: center!important;
    margin: 0 auto;
    padding: 0;
}

.post-gallery img {
    text-align: center!important;
    margin: 0em; 
    padding: 0 0 0 25%;
}

.subtitle {
    letter-spacing: 12px;
    font-size: 1rem;
}


.post-edit-link {
    font-size: 1rem!important;
}

.photo-from {
    font-size: 0.5rem!important;
}

.terms-body {
    padding-left: 10px;
}

.terms#author {
    text-align: right;
}

div#no-result {
    display: none;
}

.sidebar {
    color: #bbb;
    font-size: 1.5rem;
    z-index: 100;
}

.sidebar-toggle {
    bottom: 0px!important;
    right: 0px!important;
    width: 22px!important;
}

.back-to-top {
    font-size: 1.1rem;
}


@media (max-width: 500px) {
    h1.site-title {
       font-size:2rem!important;
    }
    .subtitle {
        letter-spacing: 12px;
        font-size: 0.8rem;
}
}

.column-wrap {
    display: flex!important;
    margin-left: 2em!important;
}

.clmn {
    padding: 3em!important;
}


