// Title Font, set it to font family you want.
$font-family-headings = 'Adobe Caslon Pro', 'Times New Roman', 'Ryumin Light KL', 'A-OTF Ryumin Pro L-KL', 'A-OTF-RyuminPro-Light', 'Ryumin Medium KL', "リュウミン L-KL", "Ryumin Regular KL", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", serif

// Set it to font family you want.
$font-family-base = 'Adobe Caslon Pro', 'Times New Roman', 'Ryumin Light KL', 'A-OTF Ryumin Pro L-KL', 'A-OTF-RyuminPro-Light', 'Ryumin Medium KL', "リュウミン L-KL", "Ryumin Regular KL", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝体", "Yu Mincho", serif

// Code Font.
$code-font-family = "Input Mono", "PT Mono", Consolas, Monaco, Menlo, monospace

// Font size of articles.
$font-size-base = 16px

// Font size of table and code.
$table-font-size = 13px

$content-bg-color = #d5ecf5;

$brand-color = #f0adb4;

$body-bg-color = #fcffff;
